Methods to handle Missing Values
1. Imputation
2. dropping

Importing the libraries

In [2]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [3]:
#loading the datset to a pandas Dataframe

dataset = pd.read_csv('/content/Placement_Dataset.csv')

In [5]:
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [7]:
dataset.shape

(215, 15)

In [10]:
dataset.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

Central Tendencies:
 1)mean
 2)median
 3)mode

In [18]:
# analyse the distribution of data in the salary
fig, ax = plt.histplot(figsize=(8,8))
sns.distplot(dataset.salary)

AttributeError: module 'matplotlib' has no attribute 'histplot'

Replace the missing values with median value

In [22]:
dataset['salary'].fillna(dataset['salary'].median(), inplace = True)

<ipython-input-22-e3a725502bae>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['salary'].fillna(dataset['salary'].median(), inplace = True)

In [23]:

dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [ ]:
#filling the misssing values with the mean value

#dataset['salary'].fillna(dataset['salary'].mean(), inplace = True)

In [ ]:
#filling the misssing values with the mode value

#dataset['salary'].fillna(dataset['salary'].mode(), inplace = True)

Dropping the values

In [24]:
salary_dataset = pd.read_csv('/content/Placement_Dataset.csv')

In [25]:
salary_dataset.shape

(215, 15)

In [26]:
salary_dataset.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [28]:
# drop the missing values
salary_dataset = salary_dataset.dropna(how='any')

In [29]:
salary_dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64